<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <form [formGroup]="ProductForm" (submit)="updateProduct()">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">add_box</i>
                            </div>
                            <h4 class="card-title">Create Stock</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class=" col-md-12 ">
                                    <mat-form-field class="example-full-width has-label">
                                        <input type="text" matInput id="name" placeholder="Name *"
                                            formControlName="name">
                                        <mat-error *ngIf="product.name.errors?.required">
                                            Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class=" col-md-12 ">
                                    <mat-form-field class="example-full-width has-label">
                                        <input type="text" matInput id="categoryName" placeholder="description"
                                            formControlName="description">
                                        <mat-error *ngIf="product.description.errors?.required">
                                            Description is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class=" col-md-12 ">
                                    <mat-form-field class="example-full-width has-label">
                                        <input type="text" matInput id="category" placeholder=" category"
                                            formControlName="category">
                                        <mat-error *ngIf="product.category.errors?.required">
                                            Category is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div> 

                                <div class=" col-md-12 ">
                                    <mat-form-field class="example-full-width has-label">
                                        <input type="text" matInput id="category" placeholder=" price"
                                            formControlName="price">
                                        <mat-error *ngIf="product.price.errors?.required">
                                            price is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div> 

                                <div class=" col-md-12 ">
                                    <mat-form-field class="example-full-width has-label">
                                        <input type="text" matInput id="quantity" placeholder=" quantity"
                                            formControlName="quantity">
                                        <mat-error *ngIf="product.quantity.errors?.required">
                                            Quantity is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div> 

                                
                                
                                
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <div class="form-check mr-auto">
                            </div>
                            <button mat-raised-button type="submit" [disabled]="ProductForm.invalid"
                                class="btn btn-fill btn-success">Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>




